.SimpleLayout {
  :global {
    .arco-layout-sider-children {
      overflow-x: hidden;
      .arco-tabs-content {
        padding: 0;
      }
    }
    .arco-collapse-item-content-expanded {
      overflow: visible;
    }
  }
  *::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px !important;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

.rightSide {
  width: 280px !important;
  min-width: 250px !important;
  max-width: 280px !important;
  :global {
    .arco-tabs-header {
    }
    .arco-btn {
      padding: 4px 12px !important;
      font-size: 12px !important;
      height: 28px !important;
    }
    .arco-input {
      font-size: 12px !important;
      height: 28px !important;
      padding: 4px 8px !important;
    }
    .arco-select {
      font-size: 12px !important;
    }
    .arco-select-view {
      height: 28px !important;
    }
    .arco-form-item-label {
      font-size: 12px !important;
    }
    .arco-form-item-content {
      font-size: 12px !important;
    }
    textarea {
      font-size: 12px !important;
      padding: 4px 8px !important;
    }
  }
}

.customScrollBar {
  overflow: scroll;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  :global {
    .arco-tabs-content {
      padding: 0;
    }
  }
}
.layoutTabs {
  margin: 0;
}

.customScrollBarV2 {
  overflow: scroll;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
