.customTextArea {
  font-size: 12px !important;
  line-height: 1.5 !important;
  padding: 8px 8px !important;

  &[readonly] {
    color: var(--color-text-2);
    &:hover {
      border-color: var(--color-neutral-3);
    }
    &:focus {
      border-color: var(--color-neutral-3);
      background-color: transparent;
      box-shadow: none;
    }
  }
}

.collapsePanel {
  border: none !important;
  :global {
    .ant-collapse-item {
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
    }

    .ant-collapse-header {
      padding: 8px 16px !important;
      min-height: 32px !important;
      font-size: 12px !important;
    }

    .ant-collapse-content-box {
      padding: 8px 12px !important;
    }
  }
}

