.BlocksPanel {
  img {
    max-width: 100%;
  }

  :global {
    .ant-tooltip {
      z-index: 10000 !important;
    }

    .ant-tooltip-inner {
      z-index: 10000 !important;
    }
  }
}
.blockItem {
  text-align: center;
  padding: 3px 12px;
  border-radius: 15px;
  min-width: 60px;
}

.closeBtn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover {
    background-color: #f7f8f8;
  }
}
